
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= produto.nom_produtos %></title>
    <link rel="stylesheet" href="/css/compra.css">
    <link rel="shortcut icon" href="/imagens/logos/logo.png" type="image/x-icon">
</head>
<body>
        <header>
            <div class="logo">
                <img src="/imagens/logos/logo-2.png" alt="logo">
            </div>

        </header>
    
    <!-- <% if (typeof mensagem !== 'undefined') { %>
        <div class="success-message">
            <p><%= mensagem %></p>
        </div>
    <% } %> -->
   
    <main>
        <div class="product-details">
            <img src="<%= produto.img_produto %>" alt="<%= produto.nom_produto %>">
        </div>
        <form action="/carrinho" method="POST">
            <input type="hidden" name="id_produto" value="<%= produto.id_produtos %>">
            <h2><%= produto.nom_produtos %></h2>
            <p style="font-size: 20px;">Preço: R$ <%= parseFloat(produto.val_produtos).toFixed(2) %></p>            
            <label for="tamanho">Tamanho:</label>
            <select id="tamanho" name="tamanho" required>
                <option value="P">P</option>
                <option value="M">M</option>
                <option value="G">G</option>
            </select>
            
            <button type="submit">Adicionar ao carrinho</button>
        </form>
    </main>
</body>
</html>
