<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>America Imports - Inicio</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="imagens/logos/logo.png" type="image/x-icon">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="imagens/logos/logo-2.png" alt="logo">
        </div>
        <div class="login">
                <!-- <a href="/login">Login</a>
                <a href="/cadastro">Cadastro</a> -->
        

            <% if (user) { %>               
                <span style="color: rgb(25, 183, 25); margin-top: 10px; margin-right: 7px;">Olá, <%= user.nome %>! </span>
                <a href="/logout" class="btn">Logout</a>
               
                <div class="cart-icon">
                  <i data-lucide="shopping-cart"></i>
                    <!-- <span class="cart-count">1</span> -->  
                </div>
               
            <% } else { %>
                <a href="/login">Login</a>
                <a href="/cadastro">Cadastro</a>
            <% } %>
    </div> 
    </header>
    <main>
        <section id="main">
            
            <h1>Seu jogo, seu estilo.</h1>
        </section>
        
        <section id="first">
            <div class="title">
                <h1>Regatas de Basquete</h1>
            </div>
          
            
        <form action="/compra" method="post"> 
            <div id="gallery-jerseys">
                <% produtos.forEach(produto => { %>
                    <% if (produto.tipo_produto === 'basquete'){ %>
                    <a href="/compra/<%= produto.id_produtos %>">
                    <div class="jersey-box">
                            <img id="testante" src="<%= produto.img_produto %>" alt="<%= produto.nom_produto %>">
                        </a>
                         <h1><%= produto.nom_produtos %> <br></h1>
                        <h3>R$  <%= produto.val_produtos %></h3>
                    
                    </div>
                    <% } %>
                <% }); %>
                
                    </div>
        </section>

        <section id="second">
            <div class="title">
                <h1>Camisas de Time Oficial</h1>
            </div>
            <form action="/compra" method="post"> 
            
                <div id="gallery-jerseys">
                    <% produtos.forEach(produto => { %>
                        <% if (produto.tipo_produto === 'futebol'){ %>
                        <a href="/compra/<%= produto.id_produtos %>">
                        <div class="jersey-box">
                                <img id="testante" src="<%= produto.img_produto %>" alt="<%= produto.nom_produto %>">
                            </a>
                             <h1><%= produto.nom_produtos %> <br></h1>
                            <h3>R$  <%= produto.val_produtos %></h3>
                        
                        </div>
                        <% } %>
                    <% }); %>
        </div>
        </section>

        <section id="third">
            <img src="imagens/assets/AD.png" alt="">
        </section>
    </main> 
    
    <div class="container" style="background-color: #121212;">
        <footer class="py-5" style="background-color: #121212;">
            <p id="textofooter" style="color: #9EFF00;">&copy; 2025 America Imports. Todos os direitos reservados.</p>
            </div>
        </footer>
        </div>



        <script>
            // Initialize Lucide icons
            lucide.createIcons();
            
          </script>
</body>
</html>